<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BarOMeter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A44C0C8E1C85C53C0066DEBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A44C0CA21C85C53C0066DEBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A44C0CAD1C85C53C0066DEBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
